<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="iweb212.bbs.model.Message" alias="messages"/>
		<typeAlias type="iweb212.bbs.model.Respond" alias="respond"/>
		<typeAlias type="iweb212.bbs.model.User" alias="user"/>
		<typeAlias type="iweb212.bbs.model.Admin" alias="admin"/>
	</typeAliases>
	<mappers>
		<package name="iweb212.bbs.dao"/>
	</mappers>
</configuration>